<?xml version='1.0.1' encoding='utf-8'?>
<widget id="me.shapaozi.mobile" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ShaPaoZi</name>
    <description>
        The Andoird App of ShaPaoZi.me
    </description>
    <author email="whtsky@gmail.com" href="https://github.com/whtsky">
        Wu Haotian
    </author>
    <content src="index.html"/>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="webviewbounce" value="false" />
    <preference name="BackgroundColor" value="0xffeeeeee" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova.plugins.clipboard" />
    <allow-intent href="magnet:*" />
    <access origin="*" />
    <engine name="android" spec="~4.1.1" />
    <preference name="xwalkVersion" value="20+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="false" />
</widget>
